<div id="gzh-menu" class="w3-main" style="display:block; margin-left:15%;margin-top:43px;">

    <header class="w3-container" style="padding-top:22px">
        <h5><b><i class="fa fa-list"></i> No public</b></h5>
    </header>
    <div class="w3-container">
        <div>
            <h5 class="w3-green">Ongoing</h5>
            <table class="w3-table w3-striped w3-white">
                <thead class="w3-sand">
                <tr>
                    <th><i class="fa fa-user w3-text-blue w3-large"></i> No public</th>
                    <th><i class="fa fa-percent w3-text-amber w3-large"></i> The completion rate</th>
                    <th><i class="fa fa-clock-o w3-text-red w3-large"></i> Starting time</th>
                    <th><i class="fa fa-clock-o w3-text-green w3-large"></i> Time required</th>
                </tr>
                </thead>
                <tbody id="vm-app-gzhs-todolist-data">
                <tr v-for="gzh in gzhs">
                    <td>{{ gzh['nickname'] }}</td>
                    <td>{{ gzh['percent'] }}</td>
                    <td>{{ gzh['begin_time'] }}</td>
                    <td>{{ gzh['need_time'] }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="w3-card w3-margin-top w3-sand">
            <form id="add_gzh_from">
                <div class="w3-row">

                    <div class="w3-quarter w3-panel">
                        <input title="Make sure your phone has a proxy" class="w3-input w3-border w3-round" name="nickname" type="text" placeholder="Public Account Name Please ensure that you have followed the public account">
                    </div>

                    <div class="w3-half w3-panel">
                        <input class="w3-margin-left w3-check" name="aom" value="auto" type="radio"><label>automatic</label>
                        <input class="w3-margin-left w3-check" name="aom" value="halfauto" type="radio"><label>semiautomatic</label>
                        <input class="w3-margin-left w3-check" name="aom" value="hand" type="radio" checked><label>Manual</label>
                        <span class="w3-text-orange">|</span>
                        <input class="w3-margin-left w3-check" title="Soon about a few minutes" name="range" value="1" type="radio"><label>Title only</label>
                        <input class="w3-margin-left w3-check" title="Fast about ten minutes" name="range" value="2" type="radio" checked><label>With article</label>
                        <input class="w3-margin-left w3-check" title="Very slow about several hours" name="range" value="3" type="radio"><label>With reading data</label>
                    </div>


                    <div class="w3-quarter w3-panel">
                        <button value="add_gzh" id="add_gzh_btn" class="w3-right w3-round-large w3-btn w3-green"><i class="fa fa-plus"> Add public number</i></button>
                    </div>

                </div>
            </form>
        </div>
        <div id="vm-app-gzhs-list-data">
            <h5 class="w3-teal">Completed Total <span class="w3-text-yellow">{{gzhs['meta']['total_gzh']}}</span> have <span class="w3-text-yellow">{{gzhs['meta']['total_article']}}</span> articles</h5>
            <table class="w3-table w3-striped w3-white">
                <thead class="w3-sand">
                <tr>
                    <th><i class="fa fa-user w3-text-blue w3-large"></i> No public</th>
                    <th><i class="fa fa-list w3-text-amber w3-large"></i> Total articles</th>
                    <th><i class="fa fa-clock-o w3-text-red w3-large"></i> Update time</th>
                    <th><i class="fa fa-calculator w3-text-green w3-large"></i> Number of updates</th>
                    <!--<th><i class="fa fa-list w3-text-green w3-large"></i> classification</th>-->
                </tr>
                </thead>
                <tbody>
                <tr v-for="gzh in gzhs['data']">
                    <td title="Click to view the public account report"><a target="_blank" v-bind:href="'http://localhost:5000/gzh_report/'+gzh.nickname+''">{{ gzh['nickname'] }}</td>
                    <td title="Click to see article list"><a title="See full article list" target="_blank" v-bind:href="'http://localhost:5000/gzh_article_list/'+gzh.nickname+''">{{ gzh['article_num'] }}</a></td>
                    <td>{{ gzh['update_time'] }}</td>
                    <td>{{ gzh['update_num'] }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
